
::ng-deep .p-password .p-inputtext:focus {
  border-color: #1976d2;
  background-color: #e8f0fe;
}

::ng-deep .p-password {
  width: 100%;
}

::ng-deep .p-password .p-inputtext {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f0f0f0;
  transition: border-color 0.3s, background-color 0.3s;
}

