<p-dialog 
  [(visible)]="dialogVisible" 
  [modal]="true" 
  [dismissableMask]="true" 
  (onHide)="onDialogHide()" 
  [closable]="false" 
 >
    <div class="dialog-header">
    <h2>User Panel</h2>
    <button type="button" class="close-button" (click)="dialogVisible = false">
      <i class="pi pi-times"></i>
    </button>
  </div>
<ng-container *ngIf="isLoggedIn(); else notLoggedIn">
  <div class="user-info-content">
    <h3 class="user-info-title">You are logged in!</h3>

    <div class="user-info-field">
      <span class="label">Name:</span>
      <span class="value">{{ getUser()?.name }}</span>
    </div>

    <div class="user-info-field">
      <span class="label">Email:</span>
      <span class="value">{{ getUser()?.email }}</span>
    </div>

    <div class="user-info-field">
      <span class="label">Password:</span>
      <span class="value">••••••••</span>
    </div>

    <div class="user-info-field">
      <span class="label">Date of Birth:</span>
      <span class="value">{{ getUser()?.dateOfBirth }}</span>
    </div>

    <p-button 
      label="Log out" 
      (onClick)="logout()" 
      class="p-button-rounded p-button-primary logout-button">
    </p-button>
  </div>
</ng-container>

<ng-template #notLoggedIn>
   <div class="auth-content">
  <h3 class="auth-title">Welcome to NewsApp!</h3>
    <p class="auth-info">You are currently logged out. Log in or create a new account to enjoy personalized content.</p>
  <div class="auth-buttons">

    <p-button label="Log in"
       icon="pi pi-sign-in"
         iconPos="right" 
         (onClick)="navigateToLogin()"
            class="p-button-rounded p-button-primary action-button" >
          </p-button>

    <p-button label="Register"  
    icon="pi pi-user-plus" 
  iconPos="right" 
   (onClick)="navigateToRegister()"
   class="p-button-rounded p-button-primary action-button">
  </p-button>
  
   </div>
  </div>
</ng-template>
</p-dialog>
