<p-drawer 
  [visible]="visible"
  position="left"
  [modal]="true"
  [closable]="true"
  (visibleChange)="visibleChange.emit($event)"
  >

  <div class="sidebar-content">
    <h3>Kategorie</h3>
    <ul class="category-list">
      <li (click)="selectCategory('general')">📰 Ogólne</li>
      <li (click)="selectCategory('technology')">💻 Technologia</li>
      <li (click)="selectCategory('business')">💼 Biznes</li>
      <li (click)="selectCategory('sports')">🏅 Sport</li>
      <li (click)="selectCategory('entertainment')">🎬 Rozrywka</li>
      <li (click)="selectCategory('health')">🧬 Zdrowie</li>
      <li (click)="selectCategory('science')">🔬 Nauka</li>
    </ul>
  </div>
</p-drawer>
