<div class="topbar-container">


  <div class="topbar-left">
    <p-button type="button" class="menu-button" (click)="toggleSidebar.emit()">
      <i class="pi pi-bars"></i>
    </p-button>
  </div>

  <div class="search-container">
    <input type="text" 
    placeholder="Szukaj..." 
    class="search-input" 
    pInputText [(ngModel)]="searchTerm" 
    (input)="onSearch()"/>
    <button class="search-button">
      <i class="pi pi-search"></i>
    </button>
  </div>

  <div class="topbar-right">
    <p-button 
  class="favorites-button" 
  icon="pi pi-heart" 
  (onClick)="toggleFavorites()">
</p-button>
    <p-button class="user-button" (onClick)="onUserIconClick()">
      <i class="pi pi-user"></i>
    </p-button>
  </div>
 
</div>
