/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
:root {
  
  --color-primary: #3B82F6;  
  --color-gray: #E5E7EB;  
  --p-drawer-background: #ffffff;  

}

.dark-mode {
  --background-color: #111827;    /* tło strony w ciemnym */
  --sidebar-background: #1f2937;  /* tło menu w ciemnym */
  --p-drawer-background: #1f2937;
  --p-card-background: #222222; 
  --p-card-text-color: #ffffff;
  --p-paginator-background:var(--background-color)
}
body, app-root {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
}

