.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 1.5rem;
  padding: 1rem;

}

.news-card {
  height: 420px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
  flex: 0 1 calc(25% - 20px); 
  box-sizing: border-box;
}



.p-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.p-card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: var(--p-card-text-color);

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.news-author {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.card-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.news-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.news-text {
  flex-grow: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: var(--p-card-text-color);
  font-size: 0.95rem;
  line-height: 1.4; 
  min-height: calc(1.4em * 4);
}

p-button {
  align-self: flex-start;
}
:host ::ng-deep .pagination .active{
  background:red;
}