  <p-toast position="top-right"></p-toast>
<div class="news-grid">
  <ng-container *ngFor="let item of pagedNews">
    <p-card 
    *ngIf="item.visible !== false" 
    class="news-card"
    [style.background-color]="'var(--p-card-background)'"
  >
      
      <ng-template pTemplate="header">
        <h5 class="news-title">{{ item.title }}</h5>
        <h5 class="news-author">{{ item.author }}</h5>
       
      </ng-template>

      <ng-template pTemplate="body">
        <div class="card-body-content">
          <img 
            [src]="item.urlToImage" 
            alt="News image" 
            class="news-img"
            (error)="hideItem(item)" />

          <p class="news-text">{{ item.description }}</p>
        </div>
<div class="card-footer">


  <p-button 
    label="Sprawdź artykuł"
    icon="pi pi-external-link"
    iconPos="right"     
    (click)="goTo(item.url)">
  </p-button>

<i 
  class="pi pi-heart favorite-icon"
    [class.active]="item.isFavorite"
  (click)="handleFavoriteClick($event, item)">
</i>
</div>
      </ng-template>
    </p-card>
  </ng-container>
</div>

<div class="pagination">
<p-paginator 
#paginator
  [rows]="12" 
  [style.background-color]="'var(--p-paginator-background)'"
  [totalRecords]="news.length" 
  [rowsPerPageOptions]="[4, 8, 12]" 
  (onPageChange)="paginate($event)">
</p-paginator>
</div>
