<div class="favorites-grid">
  <ng-container *ngFor="let item of favorites">
    <p-card class="news-card" [style.background-color]="'var(--p-card-background)'">
      <ng-template pTemplate="header">
        <h5 class="news-title">{{ item.title }}</h5>
      </ng-template>
      <ng-template pTemplate="body">
        <p class="news-text">{{ item.url }}</p>
        <p-button 
          label="Sprawdź artykuł" 
          icon="pi pi-external-link" 
          iconPos="right" 
          (click)="goTo(item.url)">
        </p-button>
      </ng-template>
    </p-card>
  </ng-container>
</div>
